id = spawnd {
    listen = { port = 49 }
    spawn = {
        instances min = 1
        instances max = 10
    }
    background = no
}

id = tac_plus {
    debug = AUTHOR AUTHEN

    log = stdout {
        destination = /proc/1/fd/1
    }
    
    log = stderr {
        destination = /dev/stderr
    }
    
    log = file {
        destination = /var/log/tac_plus.log
    }

	# Seems to have problems with STDOUT, so we'll log to STDERR as well (this works fine!)
    authentication log = stderr
    authorization log = stderr
    accounting log = stderr
    
    #authentication log = stdout
    #authorization log = stdout
    #accounting log = stdout
    
    authentication log = file
    authorization log = file
    accounting log = file

    user = $enable$ {
        login = clear enable
    }

    include = /etc/tac_plus/tac_user.cfg
}